# 配置MySQL数据库的连接参数
spring:
   datasource:
      url: jdbc:mysql://127.0.0.1:3306/ruanjian2?useSSL=false&serverTimezone=CST&allowPublicKeyRetrieval=true
      username: root
      password: root
   jpa:
      # 自动生成数据库的表
      generate-ddl: true
      properties:
         # 设置一个方言，用于自动加上MySQL的引擎名称，默认MyISAM不支持事务，不推荐使用。
         hibernate.dialect: org.hibernate.dialect.MySQL57Dialect
   
   # 配置Redis的连接信息
   redis:
      host: 127.0.0.1
      port: 6379
      database: 15

  
server.port: 8083
